.mw-40 {
    max-width: 40em;
}

input {
    background: inherit;
    border: none;
    border-radius: 6px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 48px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: #26282C;
}